/* Navbar */
.navbar {
  width: 100%;
  background-color: #333;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container que segura tudo */
.nav-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.nav-logo img {
  width: 65px; /* Tamanho fixo da logo */
  height: auto;
  border-radius: 80px;
}

/* Links da navbar */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f39c12;
}
